.react-datepicker-wrapper {
  width: 80% !important;
}

.admin-filter-date .react-datepicker-wrapper {
  width: 100% !important;
}

.export-filter-date .react-datepicker-wrapper {
  width: 100% !important;
}